# **Lab-2** *Using pandas and numpy*

### Use the Pandas library to import a Dataset as a dataframe. 
### Use the NumPy library to perform operations on the dataframe.

## 1. *Importing the libraries*

In [1]:
import pandas as pd 
import numpy as np

## 2. *Reading the dataset as a dataframe*

### I am using the Anxiety attack dataset to load and perform operations, different methods will be used to provide information about the dataset and hence derive insights.

In [2]:
myDataset = pd.read_csv('../Dataset/anxiety_attack_dataset.csv')

## 3. *Printing basic information using the .head() function*

In [3]:
myDataset.head()

,ID,Age,Gender,Occupation,Sleep Hours,Physical Activity (hrs/week),Caffeine Intake (mg/day),Alcohol Consumption (drinks/week),Smoking,Family History of Anxiety,Stress Level (1-10),Heart Rate (bpm during attack),Breathing Rate (breaths/min),Sweating Level (1-5),Dizziness,Medication,Therapy Sessions (per month),Recent Major Life Event,Diet Quality (1-10),Severity of Anxiety Attack (1-10)
0,1,56,Female,Other,9.6,8.3,175,6,No,No,4,145,33,3,No,No,4,Yes,9,10
1,2,46,Male,Teacher,6.4,7.3,97,6,No,No,3,143,18,5,Yes,No,0,No,9,8
2,3,32,Female,Doctor,6.9,1.0,467,14,No,No,2,60,34,1,No,No,7,Yes,10,5
3,4,60,Male,Doctor,9.2,3.7,471,16,No,Yes,6,94,19,1,No,Yes,4,Yes,5,8
4,5,25,Male,Student,9.2,2.5,364,2,No,Yes,7,152,15,4,No,Yes,0,No,1,1

## 4. *Printing the column names of the dataset*

In [5]:
myDataset.columns

Index(['ID', 'Age', 'Gender', 'Occupation', 'Sleep Hours',
       'Physical Activity (hrs/week)', 'Caffeine Intake (mg/day)',
       'Alcohol Consumption (drinks/week)', 'Smoking',
       'Family History of Anxiety', 'Stress Level (1-10)',
       'Heart Rate (bpm during attack)', 'Breathing Rate (breaths/min)',
       'Sweating Level (1-5)', 'Dizziness', 'Medication',
       'Therapy Sessions (per month)', 'Recent Major Life Event',
       'Diet Quality (1-10)', 'Severity of Anxiety Attack (1-10)'],
      dtype='object')

## 5. *Using NumPy to create an array from a column of the dataset*
#### Creating an array from the 'Age' column of the DataFrame

In [6]:
array = np.array(myDataset['Age'])

print(array)

[56 46 32 ... 23 52 50]

## 6. *Using Pandas to read a column as a Series*

#### A pandas Series is very similar to a one-dimensional NumPy array, but it has additional functionality that allows values in the Series to be indexed using labels. 
#### A NumPy array does not have the flexibility to do this. This labeling is useful when you are storing pieces of data that have other data associated with them. 
#### Say you want to store the ages of students in an online course to eventually figure out the average student age. 
#### If stored in a NumPy array, you could only access these ages with the internal ndarray indices 0,1,2.... With a Series object, the indices of values are set to 0,1,2... by default, but you can customize the indices to be other values such as student names so an age can be accessed using a name.

In [9]:
series = pd.Series(myDataset['Age'])
print(series)

0        56
1        46
2        32
3        60
4        25
         ..
11995    28
11996    49
11997    23
11998    52
11999    50
Name: Age, Length: 12000, dtype: int64

## 7. *Creating a custom data frame using pandas*

In [15]:
dataf = pd.DataFrame([
    ['John Smith','123 Main St',34],
    ['Jane Doe', '456 Maple Ave',28],
    ['Joe Schmo', '789 Broadway',51]
    ],
    columns=['name','address','age'])

print(dataf)

         name        address  age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51

## 8. *Changing the index from default to 'name' column, this is only possible in Pandas*

In [17]:
dataf.set_index('name')

dataf.head()

         name        address  age
0  John Smith    123 Main St   34
1    Jane Doe  456 Maple Ave   28
2   Joe Schmo   789 Broadway   51